html{
    box-sizing: border-box;
  }
  
*{
    box-sizing: inherit;
  }

body {
    background: #f3f3f3;
    color: #333;
    font-family: Arial;
    margin: 0;
    padding: 0;
  }

main {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    overflow: hidden;
    background-color: #0A2647;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #205295;
    color: #f2f2f2;
}

section, header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    padding: 14px 16px;
}

.content {
    background: #ecf0f1;
}

@media screen and (max-width: 992px) {
  .rdb {
    display: none!important;
  }  
  .copy {
        height: 60px;
        min-height: auto;
    }
}

h1, h2, h3 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
    margin-bottom: 0;
  }
  
  .subtitle {
    font-size: 18px;
    font-weight: bold;
  }

  pre {
    display: flex;
    flex-direction: column;
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #43454b;
    padding: 1em;
    border-left: 2px solid #69c;
  }
  
  .btn {
    background-color: #144272;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    margin-top: 1em;
  }
  
  .btn:hover {
    background-color: #2C74B3;
  }
  
  .shell-commands {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .shell-commands td, .shell-commands th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .shell-commands tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .shell-commands tr:hover {
    background-color: #ddd;
  }
  
  .shell-commands th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #205295;
    color: white;
  }
  /*estilos para el formulario*/
  
  .form-group {
    margin: 20px 0;
  }
  .rdb{
    display: flex;
    flex-direction: column;
  }
  .form-group label, input:not([type="radio"],[type="checkbox"]){
    width: 100%;
  }
  .form-group input, .form-group label {
    vertical-align: middle;
  }
  .form-group textarea {
    display: block;
    width: 100%;
    resize: vertical;
  }
  .form-group input[type="text"],.form-group input[type="email"], .form-group textarea {
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px 10px;
    color: #333;
  }
  
  .help{
    font-size: 12px;
    margin-top: 10px;
  }
  
  /*estilos para el pie de pagina*/
  .copy {
    bottom: 0;
    background-color: #0A2647;
    text-align: center;
    padding: 10px;
  }
  
  /*estilo para el texto que contiene el pie de pagina*/
  .copy p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: 10px;
    margin: 0;
    color: #fff;
  }
  
  .copy a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin: 0;
  }