html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

* {
    box-sizing: inherit;
}

body {
    max-width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    line-height: 1.5;
    background-color: #4b4e4b;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #282b28;
    color: #b7b3b3;
    margin-bottom: 4em;
    padding: 0 1em;
}

h1 {
    font-size: 4em;
    color: #6f9a6a;
}

h2 {
    text-align: center;
    color: #6f9a6a;
}

.container {
    border: 1px solid red;
    padding: 1em;
    height: 100%;
    width: 100%;
}

.article {
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #282b28; 
    height: 24em;
    width: auto;
    color: #b7b3b3;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0 1em;
    text-align: left;
    margin-bottom: 1em;
}

.article:hover {
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
}

article img {
    height: 8em;
    width: auto;
}

footer {
    background-color: #282b28;
    color: #b7b3b3;
    padding: 1em;
    text-align: end;
}

a {
    color: #b7b3b3;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .container {
        display: grid;
        grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
        gap: 4em;
    }
    .article {
        margin-bottom: 0;
        height: 32em ;
    }
}

@media screen and (min-width: 1024px) {
    .article {
        max-height: 24em;
    }
}

@media screen and (min-width: 1440px) {
    .article {
        max-height: 20em;
    }
}

@media screen and (min-width: 2560px) {
    .article {
        max-height: 16em ;
    }
}