@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Delicious+Handrawn&display=swap');

body,
html {
    box-sizing: border-box;
}

html {
    background: #e2e8f0;
}

* {
    box-sizing: inherit;
}