html {
    box-sizing: border-box;
    height: 100%;
}

*  {
    box-sizing: inherit;
}


body {
    max-width: 100%;
    background-image: url(https://images.unsplash.com/photo-1520698857293-5d763dde010f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    height: auto;
    margin: 0;
    
}
h1 {
    font-style: helvetica;
    text-align: center;
    color: lightgray;    
    padding: 30px;

}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    margin-top: 0px;
}

li {
    float: left;
    font-size: large;
    
}

.search {
    display: list-item;
}

li a:hover{
    background-color: black;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px ;
    color: aliceblue;
    text-decoration: none;
}
.container {
    height: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1);
}

.grid-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    

}

.figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    height: 400px;
    max-height: 100%;


} 
.grid-img img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 9.0), 0px 6px 20px 0 rgba(0, 0, 0, 0.100);
    border-top: 0px;
    border-radius: 8px;


}
h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 400;
    background-color:#b2bec3;
    box-shadow: 0 4px 8px 5 rgba(0, 0, 0, 9.0), 0 6px 20px 0 rgba(0, 0, 0, 0.100);

    height: 100px;
    height: 50px;
    margin: 0;
}

.grid-img:hover,h3 {
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
    border-radius: 8px;


}

p {
    max-width: 750px;
    text-align:start;
}

p:hover {
    background-color: #b2bec3;
}