* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}
body{
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
}
:root {
  --mainFont: "Poppins", sans-serif;
  --titleFont: "Quicksand", sans-serif;

  --black: #000;
  --white: #fff;
  --gray50: #F9FAFB;
  --gray100: #F3F4F6;
  --gray200: #E5E7EB;
  --gray300: #D1D5DB;
  --gray400: #9CA3AF;
  --gray500: #6B7280;
  --gray600: #4B5563;
  --gray700: #374151;
  --gray800: #1F2937;
  --gray900: #111827;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titleFont);
  margin: 10px;
}

