* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

header {
  height: 70px;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

h1,
h2 {
  font-weight: normal;
  margin-bottom: 20px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

p {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  background-color: #eee;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  header {
    padding: 20px;
  }

  nav {
    justify-content: center;
  }

  nav li {
    margin-left: 10px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  table {
    font-size: 14px;
  }

  th,
  td {
    padding: 5px;
  }
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 0.8em;
}

@media screen and (min-width: 700px) {
  section {
    max-width: 100%;
  }

  table td {
    text-align: center;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
}
