@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    body {
        min-width: 400px;
        background-image: url('/img/imagen-fondo-divpanda.jpg');
    }

    main {
        max-width: 425px;
    }
    
    h1 {
        @apply grid place-items-center border border-solid border-100 rounded-md font-semibold text-2xl my-5 h-12;
        background-image: url('/img/imagen-fondo-divpanda.jpg');
    }

    label {
        @apply font-bold;
    }

    input:not([type="checkbox"]), textarea {
        @apply border border-solid border-100 rounded-md text-50 py-2 px-3;
        background-image: url('/img/imagen-fondo-divpanda.jpg');
    }

    ::placeholder {
        @apply text-100;
        
    }
    
}

@layer components {
    .form-group {
        @apply my-5 mx-0 flex flex-col;
    }

    .submit-button {
        box-shadow: 1px 1px 2px;

        @apply py-1 px-5 mt-2 font-bold text-50 bg-400 hover:bg-300 active:bg-400 border border-solid border-100 rounded-md cursor-pointer;
    }
}