body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 1.5;
    background-color: gainsboro;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 40px;
}

nav{
    display: flex;
    align-items: center;
}


nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

input {
    display: flex;
    height: 32px;
    padding: 10px;
    margin-left: 20px;
}

.card {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 300px;
}

.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}