body{
    font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;
    
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

li:hover{
    text-decoration: underline;
}

.logo{  
    width: 10%;
    height: 10%;
    padding: 0;
    border-radius: 50%;
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid  rgb(155, 13, 155);
    padding: 10px;
    border-radius: 5px;
    background: whitesmoke;
    margin: 50px;
}

.img-card{
    width: 50%;
    height: 50%;
    padding: 0;
    align-self: center;
    border-radius: 5px
}

.navbar{
    display:flex ;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight:bold;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background:rgba(220, 47, 113, 0.455);
}

img{
    width: 100%;
    height: 100%;
}
.container{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px auto auto; */
    gap: 20px;
    
}


.texto{
    display: flex;
    flex-direction: column;
    grid-column:1/4;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
    padding-top: 15px;
}

.texto h1{
    font-size: 3rem;
    margin: 0;
}

.texto p{
    font-size: 20px;
    color: #4d4a4a;
}

h1{
    font-size: 20px;
}

div:last-child{
    grid-column: 1/4;
}

@media screen and (min-width:992px) {
    .texto{
        margin: 0 200px;
    }

    .container{display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px auto auto;
    gap: 5px;}

    .card{
        margin: 20px;

    }
}