/* ---- Reset ----*/

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #ececec;
    scroll-behavior: smooth;
  }
  
  *,
  *::before,
  *::after {
  box-sizing: inherit;
  }
  
  
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  h1,h2,h3,p {
    margin: 0;
  }
  

  /* ---- Styles - CARDS-NEWS ----*/

  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    margin-top: 2rem;
    text-align: center;
  }

  .news-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    place-items: center;
    gap: 2rem;
  }

  .news {
    padding: 1rem;
    width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 15px 10px -7px rgba(0,0,0,0.75);;
    border-radius: 0.5rem;
    background-color: #DBCFE4;
  }

  .news img {
    width: 100%;
    height: 200px;
    border-radius: 0.5rem;
  }

  .news-small-items {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .news-small-items small {
    padding: 0.2rem;
    color: #ececec;
    font-weight: bold;
    background-color: #7D5597;
    border-radius: 0.5rem;
  }
  
  .featured-new {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;    
    background-color: #7D5597;
    border-radius: 0.5rem;
  }
    
  .featured-new img {
    border-radius: 0.5rem;
  }

  .features-new-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
  }

  .footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-top: 2px solid #7D5597;
  }
 


  @media screen and (min-width: 1000px) {
    .news-container {
      width: 980px;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: auto;
    }

    .featured-new {
      flex-direction: row;
      grid-column-start: 1;
      grid-column-end: 5;
    }

    .featured-new img {
      width: 200px;
    }
  }