@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
    background-color: #f5f7f9;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
  }

h1,
h2,
strong {
  color: #333;
}

code,
pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
    border-left: 2px solid #69c;
}

a {
    color: #e81c4f;
  }

  .form-group {
    margin: 20px 0;
  }

  label, input:not([type="radio"], [type="checkbox"]) {
    width: 100%;
  }

  select {
    margin-left: 10px;
  }

  textarea {
    display: block;
    width: 100%;
    resize: vertical;
  }

  .help {
    font-size: 12px;
    margin-top: 10px;
    color: gray;
  }

  label, legend {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #444;
  }

  input[type="text"], input[type="email"], select, textarea, fieldset  {
    background-color: #fafafa;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px 10px;
    color: #333;
  }

  button {
    padding: 16px 60px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #713f12;
    background: #eab308;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.6) ;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  button:hover {
    background: #facc15;
  }

  button:active {
    background: #ca8a04;
    box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  }