/* html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
} */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

body {
  background-color: grey;
}

header {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.blogs-container {
  display: grid;
  color: tomato;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
  margin: 2px 2px;
  border-radius: 4px;
  border-color: #5e5353;
}

.post-Title {
  padding: 4px 0;
  color: blue;
  font-weight: bolder;
  font-size: 18px;
}

.blog-text {
  font-size: 14px;
  color: rgb(29, 26, 26);
  width: 100%;
  padding: 4px 0 0 0;
}

.cards img {
  width: 90%;
  height: 160px;
  padding: 4px 0;
  border-radius: 4px;
  margin: auto;
}

.foot-blog {
  padding-top: 8px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr;
}

.foot-blog img {
  grid-column: 1 / span 1;
  width: 30px;
  height: 30px;
  border-radius: 60%;
}
.autor {
  grid-column: 2 / span 1;
  display: flex;
  align-items: center;
}

.reading-time {
  justify-self: center;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 720px) {
  .blogs-container {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 2fr 1fr ;
    grid-gap: 20px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0;
    margin: 2px 2px;
    border-radius: 4px;
    border-color: #5e5353;
    align-items: center;
  }

  .post-Title {
    padding: 4px 0;
    color: blue;
    font-weight: bolder;
    font-size: 22px;
    justify-self: center;
  }

  .blog-text {
    font-size: 18px;
    color: rgb(29, 26, 26);
    width: 60%;
    padding: 4px 0 0 0;
    justify-self: center;
  }

  .cards img {
    width: 60%;
    height: 140px;
    padding: 4px 0;
    border-radius: 4px;
    margin: auto;
  }

  .foot-blog {
    padding-top: 8px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr;
    width: 100%;
  }

  .foot-blog img {
    grid-column: 1 / span 1;
    width: 30px;
    height: 30px;
    border-radius: 60%;
  }
  .autor {
    grid-column: 2 / span 1;
    display: flex;
    align-items: center;
  }

  .reading-time {
    justify-self: center;
    display: flex;
    align-items: center;
  }
}
