body {
    font-family: 'Poppins', sans-serif;
    background-color: bisque;
  }
  
  div {
    display: flex;
    flex-direction: column;
    border: 1px solid Gainsboro;
    padding: 10px;
  }
  
  div:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px;
    border: 1px solid burlywood;
    border-radius: 2px;
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  
  input[type='search'] {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid Gainsboro;
    width: 400px;
    background: WhiteSmoke;
  }
  
  input[type='search']:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px auto auto;
    gap: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 /4;
    grid-row: 1 / 2;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  li:hover {
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid burlywood;
    transition: ease-in 0.1s;
    box-shadow: 2px 2px 2px 1px;
  }
  
  div:last-child {
    grid-column: 1 / 4;
  }