@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    background-color: #f3f4f6;
    font-family: 'Roboto', sans-serif;
}

.container {
    border: 1px dashed rebeccapurple;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.items {
    border: 1px solid coral;
    display: flex;
    gap: 10px;
}

.hero {
    flex-direction: column;
    grid-area: 1 / 1 / 5 / 1;
}

.hero img {
    width: 100%;
}

img {
    width: 300px;
}