body {
    font-family: Arial;
    background-color: black;
  }
  
  div {
    display: flex;
    flex-direction: column;
    
    padding: 10px;
  }
  
  img {
    width: 80%;
    height: 80%;
  }
  
  input[type="search"] {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid rgb(222, 86, 86);
    width: 400px;
    background: rgb(38, 38, 218);
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px auto auto;
    gap: 20px;
    color: rgb(38, 38, 218);
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 1 /4;
    grid-row: 1 / 2;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  div:last-child {
    grid-column: 2 / 4;
  }