@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: inherit;
    margin: 0 auto;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    background-color: #93c5fd;
}

header {

    top: 0;
    left: 0;
    position: fixed;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    opacity: .95;
    padding: 0.5rem ;
    background-color: #60a5fa;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.nav-mobile {
    display: flex;
    justify-content: space-between;
  }

.nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;

}

.nav-links.show {
    display: flex;
}

.button {
    padding: .4em 1.6em;
    font-size: 1em;
    font-weight: 600;

    background-color: var(--color-secundary);

    border: 1px solid #0284c7;
    border-radius: 40px;
    cursor: pointer;

    box-shadow: 1px 1px 3px #00000080;
}

.button:hover {
    background-color: #60a5fa;
}

.button:active {
    transform: scale(.99, .99);
    box-shadow: none;
}



article {
    padding: 2rem 1rem;
}

h1,h2 {
    text-align: center;
}

h2,
h3 {
    padding: 1em 0;
    
}

h1,
h2,
h3,
strong {
    color: #333;
}

.skills {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

table {
    border-collapse: collapse;
}

ul {
    list-style: none;
    padding: 0;
}
.list-items{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

th {
    text-align: center;
}

td,
th {
    border: 2px solid #3a588f;
    padding: 1rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;

}
footer{
    background-color: #60a5fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2.5rem;

}

.socialMedia a {
    margin-right: 30px;
    color: #333;
}

.socialMedia i {
    font-size: 34px;
}
@media screen and (min-width: 992px) {
    nav{
        flex-direction: row;
        justify-content: space-around;
    }
    .nav-links {
        align-items: center;
        flex-direction: row;
        display: flex;
        gap: 1.5rem;
    }
    .nav-button {
        display: none;
      }
    article{
        max-width: 900px;
        margin: 0 auto;
    }
    .skills{
        flex-direction: row;
        justify-content: space-between;
    }
    table{
        width: 100%;
    }
    footer{
        flex-direction: row;

    }

  }



/* css formulario */

/* #contact{
    padding: 24px;
    border-radius: 24px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
    background-color: #D7DBDD;
}
label{
    width: 100%;
    display: block;
    font-weight: bold;
}
input, select, textarea, fieldset{
    background-color: #D7DBDD;
    width: 99%;
    padding: 10px 0px;
    border-radius: 8px;
    border:1px solid #333
}
input:focus{
    outline: none;
}
fieldset{
    padding: 2px;
}
textarea{
    resize: none;
}
legend{
    font-weight: bold;
}
datalist {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.send{
    display: block;
    width: 10rem;
    padding:1rem;
    margin: auto;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    background-color:#005cc8;
    cursor: pointer;
} */