*{
  box-sizing: border-box;
  word-wrap: normal;
}

a{
  text-decoration: none;
}

body{
  margin: auto;
  max-width: 50em;
  font-family: 'Cascadia Code', "Arial", sans-serif;
  line-height: 1.5;
  background-color: #e5e5e5;
  font-size: 1.1em;
  min-width: 250px;
}

button{
  border: 1px solid;
  border-radius: 4px;
  font-weight: bold;
  background-color: #e2e8f0;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5);
  float: right;
  cursor: pointer;

  width: 25%;  
  min-width: 60px;
  padding: 0.5em 0;
}

button:hover{
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  background-color: #a5a9ad;
  text-shadow: none;
  font-weight: bold;
}

button:active{
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5);
  background-color: #cbd5e1;
}

h5{
  padding: 0 1em;
}

header h1{
  text-align: center;
}

input{
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  width: 100%;
}

label{
  font-weight: bold;
  padding-bottom: 5px;
}

li{
  list-style: none;
  display: inline-block;
  margin: 0 1em;
  text-align: center;
  cursor: pointer;
}

li:hover{
  transition: all .3s ease-in-out;
  transform: scale(1.3);
  font-weight: bold;
  padding: 0 1em;
}

p{
  font-weight: 300;
}

main > section{
  margin-bottom: 2em;
}

ul{
  padding: 0px;
}

textarea{
  width: 100%;
  height: 10em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  resize: vertical;
}

.header-list{
  display: flex;
  flex-direction: column;
}

.profile{
  padding: 0 1em;
}

.profile-contact_container a{
  height: 60px;
  display: inline-block;
  margin: 0 0.5em;
}

.profile-contact_container div{
  display: flex;
  justify-content: center;
}

.profile-contact img{
  max-width: 60px;
  width: 100%;
  height: 95%;
}

.profile-contact figure{
  margin: 0;
  height: 100%;
}

.profile-skills_container p{
  display: flex;
  justify-content: center;
}

.profile-skills_show{
  padding: 0 1em;
}

.profile-skills_show img{
  width: 100%;
  max-width: 350px;
}

.profile-githubstats_container{
  display: flex;
  justify-content: center;
}

.profile-githubstats_container img{
  width: 100%;
  max-width: 475px;
}

.form-group{
  margin-top: 1em;
}

@media screen and (min-width: 768px){
  .header-list{
    padding: 0 1em;
    flex-direction: row;
  }

  h3{
    font-size : 1.5em;
  }

  h5{
    font-size: 1em;
  }

  p{
    font-weight: 400;
  }
}