:root {
    --background-color: #282828;
    --main-color: rgb(136,108,228);
    --cards-background-color: rgb(49,49,49);
    --font-color: #d1d1d1;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

body {
    padding: 0;
    margin: 0 auto;
    max-width: 50em;
    background-color: var(--background-color);
    font-family: sans-serif;
    color: #d1d1d1;

    /* border: 2px dashed red; */
}
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

.nav-bar {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    margin: 40px 0;

    /* border: 2px dashed red; */
}
.nav-bar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5px;

    padding: 0;
}

.nav-bar ul li a {
    background-color: var(--cards-background-color);
    padding: 14px 20px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
    border-radius: 5px;
}
.nav-bar ul li:hover a {
    color: var(--main-color);
    box-shadow: 0 0 5px black;
}
.nav-bar > button {
    display: none;
}


.search-bar {
    display: flex;
    background-color: var(--cards-background-color);
    align-items: center;
    border-radius: 5px;
    margin: 2px 0;
    gap: 5px;
}
.search-bar .actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.search-bar span {
    color: var(--main-color);
    margin-left: 8px;
}
.search-bar input {
    color: var(--main-color);
    padding: 10px 0;
    outline: none;
    border: none;
    background-color: var(--cards-background-color);
}
.search-bar:focus-within{
    outline: 1px solid var(--main-color);
    box-shadow: 0 0 5px rgba(136,108,228, 0.6);
}

main article .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 10px;
    width: 100%;
}
main article .container .texto {
    overflow: hidden;
}
.item {
    background-color: var(--cards-background-color);
    width: auto;
    height: auto;
}
.item-1 {
    grid-column-start: 1 ;
    grid-column-end:  4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item-5 {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1/3;

    /* grid-row-start:3;
    grid-row-end: 4; */
    grid-row: 3/4;
}
.item-11 {
    grid-column: 2/4;
    grid-row: 4/5;
}
.item-12 {
    grid-column: 1/3;
    grid-row: 5/6;
}
.item-13 {
    grid-column: 3/4;
    grid-row: 5/6;
}



/* Soy consciente que estos selectores ya fueron utilizados anteriormente, pero acá quiero declarar los estilos de los componentes que lleva, el llamado anterior era para el GRID, juntarlos por ahora podría ser bastante confuso */
.item {
    border-radius: 5px;
    padding: 20px;
    display: flex;
}
.item:hover {
    box-shadow: 0 0 5px black;
}
.item img {
    border-radius: 5px;
}
.item img:hover {
    box-shadow: 0 0 5px black;
}
.item h1 {
    color: var(--main-color);
}
.item p {
    color: #6d6d6d;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
}
.item:hover p {
    color: var(--font-color);
}

.item-33percent, .item-50percent, .item-66percent, .item-100percent {
    height: 300px;
}
.item-33percent, .item-50percent{
    flex-direction: column;
}
.item-33percent img {
    width: 100%;
    height: 100px;
}
.item-33percent h1, .item-50percent h1 {
    margin: 5px 0;
}
.item-33percent p, .item-50percent p {
    margin: 5px 0 0 0 ;
}
.item-66percent{
    padding: 20px;
    gap: 20px;
}
.item-66percent img {
    width: 60%;
}
.item-50percent img {
    height: 150px;
}
.item-100percent{
    flex-direction: row;
    gap: 20px;
}



.item.destacado {
    background-color: rgb(47, 36, 82);
    outline: 1px solid var(--cards-background-color);
    box-shadow: 1px 1px 10px black;
}
.item.destacado:hover {
    box-shadow: 1px 1px 10px black, 1px 1px 10px black;
}
.item.destacado h1 {
    color: var(--font-color);
    text-shadow: 1px 1px 10px black;
}


@media screen and (max-width: 850px) {
    body {
        width: 90vw;
        margin: 0 auto;
    }
    .nav-bar {
        gap: 10px;
    }
    .nav-bar ul li a span {
        display: none;
    }
}
@media screen and (max-width: 760px) {
    .nav-bar .search-bar .actions button span {
        margin-left: 0;
        padding: 10px;
    }
    .nav-bar .search-bar input[type="text"]{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .nav-bar ul li {
        display: none;
    }
    .nav-bar > button {
        display: block;

        border-radius: 5px;
        color: var(--main-color);
        background-color: var(--cards-background-color);
        border: none;
        padding: 12px;
        cursor: pointer;
    }
    .nav-bar > button:focus {
        outline: 1px solid var(--main-color);
    }
}



.boton {
    /* border: 2px dashed tomato; */
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 40px 0;
}
/* .boton h4 {

} */
.boton h4 a {
    text-decoration: none;
    padding: 20px 40px;
    background-color: rgb(49,49,49);
    border-radius: 10px;
    color: rgb(151, 151, 151);
    box-shadow: 0 0 5px rgba(136,108,228, 0.3);

}
.boton h4:hover a {
    color: #d1d1d1;
    box-shadow: 0 0 5px rgba(136,108,228, 0.6);
}