/*////////////////////////////////////////////////////////   MOBILE  ////////////////////////////////////////////////////////*/
@media (max-width: 768px) {
  html {
    height: 100%;
    box-sizing: border-box;
  }

  * {
    box-sizing: inherit;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background: transparent url("https://i.ibb.co/Ld7q13v/fondo3.jpg") repeat fixed 0 0;
  }

  header {
    background-color: #1c1c1c;
    color: white;
  }

  /* NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .navbar {
    margin: 0;
    padding: 0;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav a {
    text-decoration: none;
    margin: 0 .625rem;
  }

  .nav a:hover {
    font-weight: bolder;
    transition: 0.2s;
  }

  .logoFT {
    display: block;
    margin: 0 auto;
    width: 15%;

    /* SETEO LA VELOCIDAD DE GIRO DEL LOGO */
    animation: logoFT-spin infinite 10s linear;
  }

  /* SETEO EL GIRO DEL LOGO */
  @keyframes logoFT-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  /* MAIN  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .main {
    padding: 2rem;
  }

  .title {
    font-size: 1.5rem;
    margin: 0 auto 1rem auto;
    text-align: center;
    color: #fff;
  }

  .flag {
    transform: scale(1.3);
    margin-right: .125rem;
  }

  .about {
    padding: .625rem;
    text-align: justify;
    color: #fff;
    accent-color: #e48c0d;
  }

  .about p {
    margin-top: 1rem;
  }

  .subtitle {
    font-size: 1.5rem;
    margin: 1rem auto;
    text-align: center;
    color: #fff;
  }

  /* CARDS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .row {
    display: flex;
    justify-content: center;
    padding: 0 5%;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
  }

  div .card {
    background-color: #ffffff26;
    margin: 5% auto;
    padding: 2rem;
    color: #fff;
  }

  div .card:hover {
    transform: scale(1.03);
    transition: 1s;
    cursor: pointer;
  }

  .card-title,
  .card-text {
    margin: 0;
    text-align: center;
  }

  .card-text a {
    color: #e48c0d;
    text-decoration: none;
    font-weight: bold;
  }

  div a {
    color: #e48c0d;
    text-decoration: none;
    font-weight: bold;
  }

  .card-body,
  .links {
    display: block;
    margin: 0.5rem auto;
    transform: scale(1.1);
  }

  .tecnologias img {
    display: block;
    margin: 1rem auto;
    transform: scale(1.5);
  }

  .card-img {
    margin-top: 5%;
  }

  .card-img:hover {
    transform: scale(1.05);
    transition: 1s;
  }

  /* FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  footer,
  footer a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 50px auto 0 0;
  background: #212429;
  }
  
  footer a {
  padding: 0 .3%;
  }
  
  footer a:hover {
  color: #e48c0d;
  font-weight: bolder;
  transition: 0.2s;
  }
  
  .rrss {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  
  .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  }
  
  .item:hover {
  transform: scale(1.1);
  transition: 1s;
  }
}


/*////////////////////////////////////////////////////////   DESKTOP  ////////////////////////////////////////////////////////*/
@media only screen and (min-width: 769px) {
  html {
    background-color: #212429;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  * {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    font-family: Arial;
    background: transparent url("https://i.ibb.co/Ld7q13v/fondo3.jpg") repeat fixed 0 0;
  }

  /*  NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .navbar {
    position: fixed;
  }

  .nav {
    position: absolute;
    left: 18%;
    width: 100%;

    /* border: 2px dashed yellow; */
  }

  .nav a {
    text-decoration: none;
    margin: 0 .625rem;

    /* border: 1px solid tomato; */
  }

  .nav a:hover {
    font-weight: bolder;
    transition: 0.2s;
  }

  .logoFT {
    width: 5%;
    display: block;

    /* SETEO LA VELOCIDAD DE GIRO DEL LOGO */
    animation: logo-spin infinite 10s linear;
  }

  /* SETEO EL GIRO DEL LOGO */
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  /*  HEADER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  header {
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  /*  MAIN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .about,
  .tech,
  footer {
    padding: 10px 300px;
    text-align: justify;

    color: #fff;
    accent-color: #e48c0d;
  }

  .title,
  .subtitle {
    color: #fff;
    text-align: center;

    margin: 20px;
  }

  /*  FORM >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .form-group {
    margin-bottom: 20px 0;
  }

  /*  CARDS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .row {
    display: flex;
    justify-content: center;
    padding: 0 15%;
  }

  .cards-container {
    display: flex;
    justify-content: center;
  }

  div .card {
    background-color: #ffffff26;
    margin: 5% auto;
    padding: 2rem;
    color: #fff;
  }

  div .card:hover {
    transform: scale(1.03);
    transition: 1s;
    cursor: pointer;
  }

  .card-title,
  .card-text {
    margin: 0;
    text-align: center;
  }

  .card-text a {
    color: #e48c0d;
    text-decoration: none;
    font-weight: bold;
  }

  div a {
    color: #e48c0d;
    text-decoration: none;
    font-weight: bold;
  }

  .tecnologias {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1%;
  }

  .tecnologias:hover {
    transform: none;
  }

  .card-img {
    margin-top: 5%;
  }

  .card-img:hover {
    transform: scale(1.05);
    transition: 1s;
  }

  /*  FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  footer,
  footer a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 50px auto 0 0;
    background: #212429;
  }

  footer a {
    padding: 0 .3%;
  }

  footer a:hover {
    color: #e48c0d;
    font-weight: bolder;
    transition: 0.2s;
  }

  .rrss {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    display: inline-block;
    justify-content: space-between;
    margin-right: 10px;
  }

  .item:hover {
    transform: scale(1.1);
    transition: 1s;
  }
}