body {
  background: gray;
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  border: 1px solid Gainsboro;
  padding: 10px;
}

img {
  width: 250px;
  height: 300px;
}

input[type="search"] {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid Gainsboro;
  width: 400px;
  background: WhiteSmoke;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px auto auto;
  gap: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 /4;
  grid-row: 1 / 2;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

div:last-child {
  grid-column: 1 / 4;
}

