html,
body {
  background: white;
  color: #333;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

nav {
  display: grid;
  place-items: center;
  background: white;
}

.logo {
  display: flex;
  justify-content: center;
  width: 300px;
  padding: 40px 0 20px 0;
}

header {
  display: flex;
  min-height: 300px;
  background: white;
}


.foto {
  display: flex;
  height: 400px;
}


.perfil{
  background: white;
}

.content{
  display: flex;
  margin: 0;
  padding: 0;
  background: white;
}

.icons{
  display: flex;
  margin: 0;
  padding: 50px;
  flex-wrap: wrap;
  gap: 30px;
}

.icon{
  width: 35px;
}

.bx{
  color: #000;
}

.val{
  padding-left: 150px;
  }

.progress {
  display: flex;
  border-radius: 0;
}

.text {
  text-align: right;
}

.text-perfil {
  text-align: center;
}

.text-info {
  text-align: left;

}

.name {
  color: #FFA300;
}


.tec {
  text-align: center;
  margin: 20px;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li h2 {
  display: inline-block;
  text-decoration: none;
  background-color: #FFA300;
  padding: 10px;
  width: 200px;
  height: 30px;
  font-size: 20px;
  border-radius: 5%;
}


ul.menu{
  justify-content: center;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

li.menu{
  text-align: left;
}

.feature.first {
  background: white;
}

.feature:last-child {
  background: white;
}

.studie {
  display: flex;
	background: white;
}

.studie.first {
  display: flex;
	background: white;
}

.studie:last-child {
  display: flex;
	background: white;
}

.footer{
  background: #000;
}

.contact{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  color: #fff;    
}

.item__contact{
  width: 100%;
  text-align: center;
}

.contact__icon{
  font-size: 14px;
  color: white;
}

.contact__title{
  font-size: 16px;
  line-height: 20px;
}

.footer_logo{
  display: flex;
  width: 200px;
  margin: auto;
}

@media screen and (min-width: 992px) {

  .foto {
    display: flex;
    height: 600px;
  }
  .features {
    display: flex;
  }

  .feature {
    width: 100%;
  }

  .feature first {
    width: 100%;
  }

  .studies {
		display: flex;
	}

	.studie {
		width: 100%;
	}

  .studie first {
    width: 100%;
  }

  .perfil {
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .footer {
		min-height: auto;
	}
  
  .item__contact{
    width: 25%;
    padding: 60px 0;
  }

}