* {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e5e7eb;
}
img {
  width: 100%;
  max-width: 350px;
  border-radius: 100%;
  clip-path: circle();
}

.grid-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sections {
  display: flex;
  justify-content: space-b;
  flex-wrap: wrap;
  margin-top: 200px;
  text-align: center;
  align-items: center;
  margin-block-end: 50px;
}

.cv {
  flex: 1;
  margin: 10px;
  padding: 35px;
  border-radius: 50px;
  box-shadow: #1e3a8a 5px 0px 10px 0px;
  font-size: 14px;
}

.view-presentation {
  margin-top: 150px;
  margin-left: 50px;
  text-shadow: #d4d4d8 10px 5px 2px;
}

.projects {
  flex: 1;
  padding: 33px;
  border-radius: 50px;
  box-shadow: #1e3a8a 5px 0px 10px 0px;
  margin: 10px;
}

.contact {
  flex: 1;
  padding: 30px;
  border-radius: 50px;
  box-shadow: #1e3a8a 5px 0px 10px 0px;
  margin: 10px;
}
.description {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.image {
  display: flex;
}
.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.main-tittle {
  text-decoration: underline;
  text-shadow: #d4d4d8 0px 0px 0px;
}

@media screen and (max-width: 767px) {
  .view-presentation {
    margin-right: 50px;
    text-align: center;
    font-size: 15px;
  }
  .image {
    margin-top: 20px;
  }
  .sections {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 5px;
  }
  .cv {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width:1023px){
  .main-tittle{
    margin-top: 80px;
  }
 .contact{
    font-size: 18.4px;
    padding: 33px;
 }
 .projects{
    font-size: 17px;
    padding: 28px;
 }
 .cv{
    padding: 30px;
 }
}
/*  { width: 200px; height: 200px; border-radius: 50%; overflow: hidden; }

{ width:100%; }

Y aquí hay un ejemplo de código css que usa clip-path:

 { clip-path: circle(); } */