
body {
    font-family: 'Roboto', sans-serif;
    background: Gainsboro;
    margin: 0;
    padding: 0;
  }

  .menu{
    margin: auto;
    background: #000;
  }

  .logo{
    display: flex;
    width: 300px;
    padding: 100px 0 100px 0;
    margin: auto;
  }


  div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
  }

  .web{
    background: white;
  }

  h1,
  p{
    color: #000;
  }
  
  img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
  
  input[type="search"] {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid Gainsboro;
    width: 200px;
    background: WhiteSmoke;
  }
  
  .container {
    position:static;
    width: 800px;
    padding: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;    
    border-radius: 8px;
  }
  
  .backend{
    position:static;
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;    
    border-radius: 8px;
  }

  nav {
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding: 1px 20px;
    background: #000;
  }
  
  ul, li{    
    color: gainsboro;
    list-style: none;
    display: flex;
    gap: 20px;
  }

  /* Estado inicial */
a:link {
  color: red;
  text-decoration: none;
}

/* enlace sobre el que ya hemos hecho clic */
a:visited {
  color: white;
}

/* cuando el puntero del mouse esta sobre el */
a:hover {
  color: yellow;
}

/* Mientras estamos presionando el enlace */
a:active {
  color: blue;
}
  
  div:last-child {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

footer {
    margin: auto;
    background: #000
}

.footer {
    width: 800px;
    margin: auto;
    background: #000;
    display: flex;
    margin: auto;
    align-items: center;
    padding: 0;
    color: white;
}

.footer_logo{
    display: flex;
    width: 200px;
    padding: 30px 20px ;
    margin: auto;
}

i {
    display: flex;
    padding: 30px 20px ;
    margin: auto;
    color: white;
}
.text{    
    color: white;
}
@media screen and (min-width: 1992px) {
	.container {
		display: flex;
		order: 1;
	}

	.footer {
		min-height: auto;
		height: 100px;
		order: 2;
	}

	.footer {
		order: 3;
	}


}

