/*////////////////////////////////////////////////////////   MOBILE  ////////////////////////////////////////////////////////*/
@media only screen and (max-width: 768px) {

  * {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background: transparent url("https://i.ibb.co/Ld7q13v/fondo3.jpg") repeat fixed 0 0;
  }

  header {
    background-color: #1c1c1c;
    color: white;
  }

  /* NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .navbar {
    margin: 0;
    padding: 0;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav a {
    text-decoration: none;
    margin: 0 .625rem;
  }

  .nav a:hover {
    font-weight: bolder;
    transition: 0.2s;
  }

  .logoFT {
    display: block;
    margin: 0 auto;
    width: 15%;

    /* SETEO LA VELOCIDAD DE GIRO DEL LOGO */
    animation: logoFT-spin infinite 10s linear;
  }

  /* SETEO EL GIRO DEL LOGO */
  @keyframes logoFT-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  /* MAIN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .tech,
  .buttons,
  .form,
  footer {
    padding: 10px 20px;
    /* se reduce el padding para ajustar al tamaño de pantalla */
    text-align: justify;
    color: #fff;
    accent-color: #e48c0d;
  }

  .subtitle {
    color: #fff;
    text-align: center;

    margin: 20px;
  }

  /* FORM >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  form {
    width: 100%;
    margin: 0 auto;

  }

  .form-group {
    display: grid;
    margin-bottom: 20px;
  }

  label,
  input {
    vertical-align: middle;
  }

  label,
  input:not([type="radio"],
    [type="checkbox"]) {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    background: #3c3d40;
    border: 1px solid #3c3d40;
    border-radius: 5px;
    padding: 8px 10px;
    color: #ebebeb;
  }

  input:focus-visible,
  textarea:focus-visible {
    outline: 1px solid #e48c0d;
  }

  textarea {
    width: 100%;
    display: block;
    resize: vertical;
  }

  label,
  .presupuesto {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #ebebeb;
    padding: 10px 0 0 0;

    /* padding: 10px 0 0 0; */
  }

  .fieldset {
    display: flex;
    align-content: center;
  }

  .select {
    border-radius: 5px;
  }

  .help {
    font-size: 12px;
    margin-top: 10px;
    color: #81838a;

    text-align: center;
  }

  .boton {
    /* display:block; */
    /* padding:0.5rem,1rem; */
    width: 100%;
    /* margin:auto; */

    text-transform: uppercase;
    font-weight: bold;
    color: #fff;

    background: #e48c0d;
    border-radius: 8px;

    cursor: pointer
  }

  .boton:hover {
    transform: scale(0.9);
    transition: .5s
  }

  .boton:focus {
    outline: none
  }

  .boton:active {
    background: #db4932
  }

  /* FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  footer,
  footer a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 50px auto 0 0;
    background: #212429;
  }

  footer a {
    padding: 0 .3%;
  }

  footer a:hover {
    color: #e48c0d;
    font-weight: bolder;
    transition: 0.2s;
  }

  .rrss {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
  }

  .item:hover {
    transform: scale(1.1);
    transition: 1s;
  }
}


/*////////////////////////////////////////////////////////   DESKTOP  ////////////////////////////////////////////////////////*/
@media only screen and (min-width: 769px) {
  html {
    background-color: #212429;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  * {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    font-family: Arial;
    background: transparent url("https://i.ibb.co/Ld7q13v/fondo3.jpg") repeat fixed 0 0;
  }

  /*  NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .navbar {
    position: fixed;
  }

  .nav {
    position: absolute;
    left: 18%;
    width: 100%;

    /* border: 2px dashed yellow; */
  }

  .nav a {
    text-decoration: none;
    margin: 0 .625rem;

    /* border: 1px solid tomato; */
  }

  .nav a:hover {
    font-weight: bolder;
    transition: 0.2s;
  }

  .logoFT {
    width: 5%;
    display: block;

    /* SETEO LA VELOCIDAD DE GIRO DEL LOGO */
    animation: logo-spin infinite 10s linear;
  }

  /* SETEO EL GIRO DEL LOGO */
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  /*  HEADER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  header {
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  /*  MAIN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

  .tech,
  .buttons,
  .form,
  footer {
    padding: 10px;
    text-align: justify;
    color: #fff;
    accent-color: #e48c0d;
  }

  .subtitle {
    color: #fff;
    text-align: center;
    margin: 20px;
  }

  /*  FORM >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  form {
    width: 65%;
    margin: 0 auto;

    /* background: tomato; */
  }

  label,
  input {
    vertical-align: middle;
  }

  label,
  input:not([type="radio"],
    [type="checkbox"]) {
    width: 100%;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    background: #3c3d40;
    border: 1px solid #3c3d40;
    border-radius: 5px;
    padding: 8px 10px;
    color: #ebebeb;
  }

  input:focus-visible,
  textarea:focus-visible {
    outline: 1px solid #e48c0d;
  }

  textarea {
    width: 100%;
    display: block;
    resize: vertical;
  }

  label,
  .presupuesto {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #ebebeb;

    padding: 10px 0 0 0;
  }

  .fieldset {
    display: flex;
    align-content: center;
  }

  .select {
    border-radius: 5px;
  }

  .help {
    font-size: 12px;
    margin-top: 10px;
    color: #81838a;

    text-align: center;
  }

  .boton {
    display: block;
    padding: 0.5rem 1rem;
    width: 200px;
    margin: 30px auto 30px auto;

    text-transform: uppercase;
    font-weight: bold;
    color: #fff;

    background: #e48c0d;
    border: 1px solid #e48c0d;
    border-radius: 8px;
    padding: 16px 60px;

    cursor: pointer;
  }

  .boton:hover {
    transform: scale(0.9);
    transition: 1s;
  }

  .boton:active {
    background: #db4932;
    border: 1px solid #db4932;
    transition: 1s;
  }

  /*  FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  footer,
  footer a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 50px auto 0 0;
    background: #212429;
  }

  footer a {
    padding: 0 .3%;
  }

  footer a:hover {
    color: #e48c0d;
    font-weight: bolder;
    transition: 0.2s;
  }

  .rrss {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    display: inline-block;
    justify-content: space-between;
    margin-right: 10px;
  }

  .item:hover {
    transform: scale(1.1);
    transition: 1s;
  }
}