html, body{
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
}

body {
    font-family: Arial;
  }

nav ul li{
    display: inline-block;
    list-style: none;
    width: 22%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background: #5abd8e;
    text-align: center;
    
    
}

nav a, .redes a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    
}

header{
  text-align: center;
}

.logo{
  display: inline-block;
  height: 100px;
  vertical-align: top;
  /* width: 120px; */
  border-radius: 50%;
  width: 200px;
}


  
div {
    display: flex;
    flex-direction: column;
    border: 1px solid Gainsboro;
    padding: 10px;
    border-radius: 10px;
  }

div h1{
  font-size: 23px;
  
}  
  
img {
    width: 100%;
    height: 100%;
  }
 
  
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 25px;
  }
  
div:last-child {
    display: flex;
    flex-direction: row;
    grid-column: 1 / 5;
    height: 300px;
  }

  div:last-child img{
    width: 200%;
  }

  div:last-child div{
    display: inline;
  } 
  
  footer{
    text-align: center;
    color: #333;
    margin: 30px auto;

}

.boton{
    
    padding: 12px 40px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    background: rgb(233, 184, 92);
    border-radius: 10px;
    text-decoration: none;
}