body {
  font-family: Arial;
}

div {
  display: flex;
  flex-direction: column;
  border: 1px solid Gainsboro;
  padding: 10px;
}

img {
  width: 100%;
  height: 100%;
}

input[type="search"] {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid Gainsboro;
  width: 400px;
  background: WhiteSmoke;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0,1fr));
  grid-template-rows: auto auto auto;
  gap: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

 

