form {
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-gap: 16px;
    align-items: center;
}

label {
    grid-column: 1 / 4;
    margin-bottom: -16px; /* reset grid-gap */
    justify-self: start;
    vertical-align: middle;
}

form > label,
legend {
    font-weight: bold;
}

input,
select {
    grid-column: 1 / 4;
}

textarea,
fieldset,
.help{
    grid-column: 1 / 4;
}
.help {
    justify-self: start;
    padding: 0 4px;
}

label[for="terms"] {
    grid-column: 1 / 4;
    font-weight: normal;
    color: var(--text-primary);
}

fieldset {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
}
textarea {
    resize: vertical;
}
.help {
    margin-top: -16px; /* reset grid-gap */
    font-size: 0.85em;
}

input[type=checkbox]
{
    transform: scale(1.2);
}

input[type="text"],
input[type="email"],
select,
textarea {
    background: var(--bg-light);
    border: 1px solid var(--sky-200);
    border-radius: 4px;
    padding: 8px 12px;
}
fieldset {
    border: 1px solid var(--sky-200);
    border-radius: 4px;
}

input::placeholder,
select option:disabled,
select:invalid {
    color: var(--placeholder);
}
select option {
    color: var(--text-primary);
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
    border: 1px solid var(--sky-600);
    outline: 3px solid var(--sky-500);
}

button {
    grid-column: 3 / 4;
}

form button {
    min-width: 60px;
    cursor: pointer;
    padding: 8px 0;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid var(--sky-400);
    background: var(--sky-500);
    color: var(--sky-200);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    letter-spacing: 0.2em;

    accent-color: var(--sky-600);

    transition: none 200ms ease-out;
    transition-property: color, background;
}

form button:hover {
    background: var(--sky-400);
    color: var(--sky-100);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

form button:active {
    background: var(--sky-600);
    box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 576px) {
    label {
        grid-column: 1 / 2;
        margin-bottom: 0;
    }

    input,
    select {
        grid-column: 2 / 4;
    }

    textarea {
        margin-top: -16px; /* reset grid-gap */
    }
}
