:root {
    --fuente-titulo: 'Nunito Sans', sans-serif;
    --fuente-texto: 'Work Sans', sans-serif;
    --logo: 'Press Start 2P', cursive;
}

/* Estilos Globales*/

html {
    font-size: 62.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: #ebe0c9;
    background: linear-gradient(0deg, rgba(235, 224, 201, 1) 0%, rgba(230, 216, 187, 1) 73%, rgba(252, 223, 164, 1) 100%);
}


h1,
h2,
h3 {
    font-family: var(--fuente-titulo);
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

a {
    font-size: 1.8rem;
    text-decoration: none;
}

p,
li,
table {
    font-family: var(--fuente-texto);
    font-size: 1.8rem;
}

form {
    font-size: 1.8rem;
}

th,
td {
    padding: 0 2rem;
}

th {
    font-size: 2rem;
}

ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.fa-linkedin,
.fa-envelope,
.fa-github {
    color: #d08009;
}

/* Utilidades*/

.centrar {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.separador {
    background: rgb(255, 207, 167);
    background: linear-gradient(84deg, rgba(255, 207, 167, 0.12) 0%, rgba(255, 155, 73, 1) 32%, rgba(255, 155, 73, 1) 69%, rgba(255, 207, 167, 0.12) 100%);
    height: .7rem;
    margin: 0;
    border: none;
}

.boton {
    padding: 1.5rem 3.5rem;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    cursor: pointer;
}

.ocultar {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

/* Header */

.header-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media (min-width: 992px) {
    .header-contenedor {
        flex-direction: row;
        justify-content: space-between;
    }
}

.header-logo {
    font-family: var(--logo);
    animation: animacion 2s steps(30), transparent .5s step-end infinite alternate;
    font-size: 2.5rem;
    width: 12em;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid;
}

@keyframes animacion {
    from {
        width: 0px;
    }
}

@keyframes transparent {
    50% {
        border-color: transparent;
    }
}

@media (min-width: 992px) {
    .header-barra {
        display: none;
    }
}

.header-barra-img {
    width: 5rem;
}

.header-navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1.5rem;
}

@media (min-width: 992px) {
    .header-navegacion {
        flex-direction: row;
        margin-bottom: 0;
        visibility: visible;
        opacity: 1;
        height: auto;
    }
}

/* Presentación*/

.presentacion {
    background-color: #ffd684;
    padding: 2rem;
}

@media (min-width: 768px) {
    .presentacion {
        padding: 10rem 15rem;
    }
}

.presentacion-header {
    font-size: 1.6rem;
    color: #333;
    line-height: 1.5;
}

@media (min-width: 768px) { 
    .presentacion-header {
        font-size: 2rem;
    }
}

.presentacion-span {
    display: block;
    text-shadow: 0.1em 0.1em rgba(46, 46, 46, 0.158);
    font-size: 4rem;
}

@media (min-width: 768px) { 
    .presentacion-span  {
        font-size: 6rem;
    }
}

.presentacion-texto {
    color: #6a6565;
}

/*Skills*/

.skill-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5rem;
}

.skill-language {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 3px solid #000;
}

.skill-size {
    font-size: 15rem;
}

/* Proyectos*/

#proyects {
    margin-bottom: 2rem;
}

.proyect {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

@media (min-width: 992px) {
    .proyect-article:last-child {
        grid-area: 3 / 1 / 4 / 5;
    }
}

.proyect-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #ac914e;
    border-radius: .5rem;
}

.proyect-img {
    margin: 3rem 0;
}

.boton-proyecto {
    color: #fff;
    background-color: #d77a01;
}

.boton-proyecto:hover {
    background-color: #f29c2b;
}

/* Estilos para la Tabla*/

.tabla {
    border: black 1px solid;
    margin: 3rem auto;
}

th,
td {
    border: black 1px solid;
    border-style: double;
}

/*Form Contacto*/

.form-group {
    line-height: 1.8;
}

label {
    font-weight: bold;
    text-transform: uppercase;
}

p {
    margin: 2rem 0 0 0;
}

input,
textarea,
select {
    display: block;
    width: 100%;
    padding: 1rem;
    border: 1px solid #575757;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

textarea {
    height: 20rem;
}

input[type="radio"] {
    margin: 0;
    width: auto;
}

.boton-contacto {
    border: 1px solid #916540;
    background: #ffc477;
    color: #333;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;
}

/*Footer*/

.footer-nav a {
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}

address {
    display: inline-block;
}

.footer {
    background: rgb(252, 223, 164);
    background: linear-gradient(0deg, rgba(252, 223, 164, 1) 2%, rgba(235, 222, 199, 1) 32%, rgba(235, 222, 199, 1) 100%);
    padding: 2rem;
}

.footer-text {
    font-size: 1.5rem;
    color: #717171;
}