/* DESKTOP FIRST  */

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: inherit;
  font-family: monospace;
  color: #fff;
}

.container {
  height: 100%;
  padding: 20px;
  margin: 0 auto;
  background: #3f6212;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "header header header header"
    "card card card card"
    "notice notice notice notice";
}

.section-header {
  grid-area: header;
  width: 80%;
  margin: auto;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.section-header ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
}

.section-header ul li {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

.section-header input {
  padding: 8px;
  border-radius: 4px;
  width: 100%;
}

.section-cards {
  grid-area: card;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
  margin: 1em auto;
}

.card {
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
  border: 1px solid #fff;
  padding: 10px;
  width: auto;
  border-radius: 4px;
}

.card img {
  width: 100%;
  border-radius: inherit;
}

.section-notice {
  grid-area: notice;
  width: 80%;
  margin: 2em auto;
}

.main-notice {
  background: whitesmoke;
  color: #3f6212;
  padding: 0 2px;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  
  nav {
    flex-direction: row;
  }

  .section-header {
    width: 80%;
    margin: auto;
  }

  .section-header input {
    width: auto;
  }

  .section-cards {
    flex-direction: row;
  }

  .section-notice {
    margin: 2em auto;
  }

  .section-notice > .card > img {
    height: 640px;
    object-fit: cover;
  }

  .main-notice {
    background: whitesmoke;
    color: #3f6212;
    padding: 2px;
  }
}