@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

  color: #9c9dad;
  font-size: 1rem;
  background-color: #1c1d20;
  font-family: 'Poppins', sans-serif;

}

main {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;

}

header {
  background: #e2e2e2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10%;
}

header .nav-links{
  list-style: none;
}

header .nav-links li{
  display: inline-block;
  padding: 0 20px;
}

header .nav-links li:hover{
  transform: scale(1.1);
}

header .nav-links a{
  font-size: 700;
  color: #333;
  text-decoration: none;
}

header .nav-links a:hover{
  color:#e81c4f
}

h2 {
  margin-top: 1em;
  padding-top: 1em;

}
h1{
  text-align: center;
}
h1,
h2,
strong {
  color: #e2e2e2;
}


a {
  color: #e81c4f;
}

section h2{
  text-align: center;
}
section ul li{
  list-style: none;
}
footer{
  text-align: center;
}

/* responsive mobile*/

@media screen and (max-width: 992px){
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
}