:root{
    --header-background: #6f6175;
    --primary-background: #f2f2f3;
    --secondary-background: #9f98a3;    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'DM Sans', sans-serif;
    background-color: var(--primary-background);
}

header{
    background-color: var(--header-background);
    color: #fff;
    padding: 10px;
}
  
nav ul{
    list-style: none;
    margin: 0;
    padding: 5px;
    display: flex;
}
  
nav li{
    margin-right: 20px;
}
  
nav a{
    color: #fff;
    text-decoration: none;
    font-size: 0.7rem;
    text-transform: uppercase;
}
  
nav a:hover{
    text-decoration: underline;
}

main{
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding: 50px;
}
  
h1{
    letter-spacing: 5px;
    line-height: 2;
    border-bottom: 1px solid #776666;
}
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
  
.card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}
  
.card img {
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
    border-radius: 5px;
}
  
.card h2 {
    font-size: 1.2rem;
}
  
.card p {
    margin: 10px 0 0 0;
    font-size: 0.9rem;
}

footer{
    background-color: var(--secondary-background);
    color: #fff;
    text-align: center;
    padding: 10px;
}
  
footer p{
    margin: 0;
    font-size: 18px;
}

@media screen and (max-width: 768px)  {

    main{
        width: 100%;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 425px)  {

    .grid-container {
        grid-template-columns: repeat(1, 1fr);

    }
    nav ul{
        display: flex;
        flex-direction: column;
    }
    main{
        width: 100%;
    }
}