@use "../variables.scss";

.exp-card {
    background-color: var(--color-black-pearl);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: 1em;
    gap: 1em;
    transition: all ease 0.2s;
    box-shadow: 3px 3px 3px var(--color-black-pearl);
}

.exp-card:hover {
    background-color: var(--color-mountain-meadow);
    color: var(--color-black-pearl);
}

.exp-soft-h3 {
    font-weight: 300;
    font-size: 2em;
    line-height: 1;
}

.exp-hard-h3 {
    font-weight: 700;
    font-size: 2em;
    line-height: 1;
}

.exp-img {
    border-radius: 4px;
    max-width: 100%;
}

.exp-p {
    text-align: end;
}