@use "../variables.scss";

.rrss-footer {
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.resize-30 {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}