@use "../variables.scss";

.software-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

    @include variables.desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        gap: 1em;
        justify-content: space-evenly;
    }
}

.software-size {
    color: var(--color-ebony);
    height: 92px;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    justify-content: center;
    box-shadow: 3px 3px 4px var(--color-black-pearl);
}

.software-size p {
    font-size: 1em;
}

.software-tittle {
    display: flex;
    flex-direction: column;
}

.resize-60 {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
}

.last-two-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

    @include variables.desktop {
        grid-column: 1 / span 3;
        display: flex;
        justify-content: center;
        gap: 1em;
    }
}

.software-section a:hover {
    background-color: var(--color-mountain-meadow);
}