// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

*{
    padding: 0;
    margin: 0;
}
html, body, section {
    height: 100%;
    min-height: 100%;
}
body{
    background-color: lightgray;
}
