body,
html {
    box-sizing: border-box;
    font-family: arial;
}

* {
    box-sizing: inherit;
}

body {
    max-width: 100%;
    height: 100%;
    background: #fef2f2;
}

body a {
    text-decoration: none;
    color: tomato;
}

header {
    font-family: 'Rubik Iso', cursive;
    text-align: center;
    width: 100%;
    font-size: 18px;
}

.container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin: 5px 10px;
    padding: 0 10px;
    height: auto;

}

table {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background: #fecaca;
}

th {
    border: 2px solid rgb(0, 0, 0);
}

td {
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

main {
    grid-row: 1 / 5;
    height: 100%;
}

footer {
    bottom: 50px;
    text-align: start;
    padding: 10px;
}