*{
  margin: 0;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px auto auto;
}

div{
  gap: 15px;
  padding: 15px;
}

img{
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(32,32,32,0.3)
}

nav {
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 1 /4;
  grid-row: 1 / 2;
  background: yellow;
}
ul{
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  font-size: 15px;
}

input{
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

.item_1{
  grid-column: 1/3;
  grid-row: 2/3;

}
.item_6{
  grid-column: 1/4;
}


.item_1, p{
  font-size: 20px;
}
.item_footer{
  grid-column: 1/4;
  background: #000;
  color: rgb(212, 182, 10);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 15px;
  padding: 30px 0 30px 0;
 }