// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.container{
    background: url(https://images.unsplash.com/photo-1606416463636-393d972e14df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1036&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 80%;
    
}

.row-bg-color{
    background-color: rgba(255,255,255,0.7);
}


