html, body {
    box-sizing: border-box;
    margin:0;
}

body {
    background: whitesmoke;
    padding: 10px;
}



.container-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px auto auto ;
    gap:20px;
    
    /*border: 2px dashed teal;*/
}
nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: wheat;
    
    border: 2px solid peru;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-transform: uppercase;
}
ul{
    list-style: none;
    padding:3px;
    display: flex;
    gap: 20px;
}


input[type="search"]{
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid Gainsboro;
    width: 400px;
    background: WhiteSmoke;
}
.card{
    display:flex;
    flex-direction: column;
    padding: 10px;
    /*border: 2px solid tomato;*/
    border-radius: 10% / 50%;
    background-color: beige;
    
}
img {
    width: 100%;
    height: 100%;
    border-radius: 10% / 50%;
  }

div:last-child {
    grid-column: 1 / 4;
  }

  h1{
    padding-left: 5%;
  }
  p{
    padding-left: 10%;
  }