*{
    box-sizing: 0;
}

header,section,footer,main,article,section{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    background-color: #3d280c;
    margin-right: 10px;
    border: #D7C8B6 2px solid;
}
nav ul li a:hover{
    background-color: white;
    color: #D7C8B6;
}
header.headerAbout{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 250px;
    background-image: url(https://images.unsplash.com/photo-1524561506982-601111bed7a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-position: center;
    background-size: cover;
    color: white;
}
div.fondo{
    align-items: center;
    width: 960px;
    margin-left: auto;
    margin-right: auto; 
}
.abouTitle{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    background-color: cadetblue;
    margin: 0;
}
main.aboutMain{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: cadetblue;
}
div.abouTools{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;  
   background-color: cadetblue;
}
div.imgAbout{
   margin: 5px auto;
}
article.find{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: cadetblue;
}
section.aboutCode{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: cadetblue;
}
footer{
    height: 110px;
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 h3 {
    margin: 0;
    text-align: center;
 }
 address{
    text-align: center;
 }