.content{
    padding: 30px 32px;
    max-width: 855px;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 32px;
}
.highlighted{
    grid-column: 1 / 3;
}
/* Hidden sections */
.header__menu{
    display: none;
}
.header__navbar,
.search__input,
.header__explorer{
    display: flex;
}
.header__logo{
    margin-inline-end: 15%;
}
.header__search{
    justify-self: end;
}
.header__navbar{
    font-size: var(--small);
}
.header__navbar > a {
    text-decoration: none;
    color: var(--white);
    margin: 10px;
}
.header__search{
    position: relative;
}
.search__icon{
    position: absolute;
    top: 7px;
    left: 10px;
}
.search__input{
    width: 224px;
    height: 40px;
    background: rgba(31, 41, 55, 0.6);
    border-radius: 100px;
    color: white;
    outline: none;
    border: none;
    padding-inline: 40px 15px;
    font-family: var(--font);
}