*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh; /* Establecer el alto mínimo del cuerpo de la página en 100% de la altura de la vista */
    display: flex;
    flex-direction: column;
}

/* COLORS */
.primary{
    background-color: #1e264a;
}

.secundary{
    background-color:#d1d3d4 ;
}

.position{
    position: absolute;
    top: 4rem;
    left: 2rem;
}  
/* HEADER */

header{
    width: 100%;
    height: auto;
}

header > nav ul{
    width: 40rem;
    display: none;
    justify-content: space-around;
}

header > nav a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #d1d3d4;
}

header .flex-container{
    display: flex;
    flex-direction: column-reverse;
}

header > .flex-container > .box1{
    display: none;
    width: 100%;
    height: 40rem;
    background-color: aqua;
}

header > .flex-container > .box1 > .img > span{
    /* border-radius: 50%; */
    width: 30rem;
    height: 30rem;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://drive.google.com/uc?id=1aUSixm25FPSF5JXO7s8j42sStQ530pa8');
    margin: 0 auto;
}


header > .flex-container > .box2{
    width: 100%;
    padding: 1rem;
    background-color: #1e264a;
    text-align: left;
}

header > .flex-container > .box2 > h3{
    font-size: 5rem; 
    color: #8a97fc;
}

header > .flex-container > .box2 > .text{
    font-size: 2rem ;
    color: #4e5aa8;
}

header > .flex-container > .box2 > p{
    font-size: 0.9rem ;
    margin-bottom: 1rem;
}


header > .flex-container > .box2 > a{
    display: inline-block;
    height: 3rem;
    font-size: 1rem;
    padding: 1rem;
    text-decoration: none;
    border-radius: 1rem;
    background-color: rgb(102, 102, 100);
    color: #d1d3d4;
    cursor: pointer;
}

header > .flex-container > .box2 > a:hover{
    background-color: rgb(134, 134, 15);
}

header > .flex-container > .box2 > a:active{
    background-color: rgb(58, 58, 4);
}

/*Hacer navbar para responsive desing



/* MAIN */

main{
    width: 100%;
    height: 90rem;
    padding:2rem ;
    margin-bottom: 100rem;
    background-color: #1e264a;
}

main > h2{
    font-size: 1.6rem ;
    margin-bottom: 2rem ;
    color: #d1d3d4;
}

main > .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



main > .flex-container > section {
    width: 100%;
    height:auto ;
    margin-bottom: 2rem;
    background-color: #837d7d15;
    padding: 1rem;
    /* border: 1rem solid grey; */
    box-shadow: -1px 4px 29px 9px rgba(0,0,0,0.75);
    
 
}

main > .flex-container > section > h2 {
    font-size: 1.6rem ;
    margin-bottom: 0.6rem ;
    color: #d1d3d4;
    text-align: center;
}

main > .flex-container > section > span{
    display: inline-block;
    width: 6rem;
    height: 6rem;
    margin: 0.4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}   

/*FUNDAMENTOS*/

main > .flex-container > section > .html{
    background-image: url('https://drive.google.com/uc?id=1JHAT2eAZ7vvelpIvU_2GUaENWfsE0SMW');
}
main > .flex-container > section > .css{
    background-image: url('https://drive.google.com/uc?id=1wLIJuvkuncDrmJtVPxvoTZKw6hTfT3sC');
}
main > .flex-container > section > .javascript{
    background-image: url('https://drive.google.com/uc?id=1zGb03hZ0jBBbolQYA-gNbgWFDjgqU5_X');
}
/* main > .flex-container > section > .ecma{
    background-size: contain;
    background-image: url('https://drive.google.com/uc?id=1TspCGMd38ATmoUlSDwyVl5rHqjFwx_DP');
} */

/* FRAMEWORKS */
main > .flex-container > section > .react{
    background-image: url('https://drive.google.com/uc?id=1TBBJSGpU7LT5k0oRAcBKrQs8PGI6K6Pr');
}

/* DISEÑO CSS */
main > .flex-container > section > .pug{
    background-size: contain;
    background-image: url('https://drive.google.com/uc?id=1oJAOTIn97NrwXnohWyLiJ3FSttkBttkD');
}
main > .flex-container > section > .sass{
    background-size: contain;
    background-image: url('https://drive.google.com/uc?id=1pSnOtSP3B_OyAn3oGr-EP0c2BG32k5wP');
}
main >.flex-container > section > .tailwind{
    background-size: contain;
    background-image: url('https://drive.google.com/uc?id=10hRNIt3m9Ssg80IlKlA_0uATqFeIm8hW');
}
main > .flex-container > section > .material-ui{
    background-size: contain;
    background-image: url('https://drive.google.com/uc?id=13SZCrSPEP56In4ng8mQO-xI0EDKhk7gH');
}

/* HERRAMIENTAS */

main > .flex-container > section > .git{
    background-image: url('https://drive.google.com/uc?id=1NObl4xRCStl28_XV-E0D3Bh4KMpKijgO');
}
main > .flex-container > section > .git-hub{
    background-image: url('https://drive.google.com/uc?id=1aAVCAtY5Wh2rqIBJ49wBW5iFSR0ccJwH');
}
main > .flex-container > section > .devtool{
    background-image: url('https://drive.google.com/uc?id=1wVz29BxuKSI7JZDNAt2Xvi16IhNn6Gc4');
}
main > .flex-container > section > .webpack{
    background-image: url('https://drive.google.com/uc?id=1vCo3LO3cH-oTDiqRWxq2jbL-DvIoJq9h');
}
main > .flex-container > section > .npm{
    background-image: url('https://drive.google.com/uc?id=1uFKhktUCKAf89zrn6Zeos31204hIYvkS');
}
main > .flex-container > section > .vite{
    background-image: url('https://drive.google.com/uc?id=1afL991F3PHHqr4CvaIdJMmhXVIP50BLB');
}


/* MAIN SECTION BLOG */
main > .blog{
    width: 100%;
    height: 95rem;
    background-color: #1e264a;
    margin-top: 3rem;
   
}

main > .blog > h2{
    font-size: 1.6rem ;
    margin: 2rem 0;
    color: #d1d3d4;
}

main > .blog > .grid-container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    
}


main > .blog > .grid-container > article{
    width: 100%;
    height:20rem;
    background-color: #1e264a;
    border-radius: 1rem;
    box-shadow: -1px 4px 29px 9px rgba(0,0,0,0.75);
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem;

    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    grid-column: 1/5;
    grid-row: 1/2;
}


main > .blog > .grid-container > .article1 {
    grid-column: 1/5;
    grid-row: 1/2;
    background-image: url('https://drive.google.com/uc?id=10W3pkqWn-dNN2gmP3oocXiefboBVyzkr');
}

main > .blog > .grid-container >  .article2{
    grid-column: 1/5;
    grid-row: 2/3;   
    background-image: url('https://drive.google.com/uc?id=1RLkWWfRbBqo4B8hZLENabGhnYPl6lgXo');
}

main > .blog > .grid-container >  .article3{
    grid-column: 1/5;
    grid-row: 3/4;  
    background-image: url('https://drive.google.com/uc?id=1kgb5UOac3AIySNxJx5c1ndsOMD7KmB2q');
}

main > .blog > .grid-container >  .article4{
    grid-column: 1/5;
    grid-row: 4/5;  
    background-image: url('https://drive.google.com/uc?id=1yiI4HYFfgcAtH0wQn2u2IRGysE5PoGNx');
}


main > .blog > .grid-container >  article > h3{
    font-size: 1.4rem;
    padding: 0.4rem;
    margin-bottom: 10rem;
    color: #d1d3d4;
}

main > .blog > .grid-container > article > a{
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    color: #d1d3d4;
    background-color:  rgb(181, 181, 35);
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
    text-align: center;
}

/* FOOTER */
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 55vh;
    padding-top: 4rem; 
    background-color: #1e264a;
}

footer > .f-text{
    width: 100%;
    height: 3rem;
    padding: 0.3rem;
    display: flex;
    margin-bottom: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > .f-text > .text1{
    font-size: 1rem;
    font-weight: bolder;
    color: #8a97fc;;
    text-align: center;
}

footer > .f-text > .text2{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #d1d3d4;
}

footer > .f-text > .paragraph{
    font-size: 1rem;
    color: #d1d3d4;
    text-align: center;
}



footer > .f-button{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer > .f-button > a{
    display: inline-block;
    width: 8rem;
    text-decoration: none;
    font-size: 1rem;
    color: #d1d3d4;
    background-color:  rgb(181, 181, 35);
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 1rem;
    text-align: center;
    
}

footer > .f-button > a > i{
    width: 4rem;
    
}
footer > .separator {
    width: 100%;
    
}
footer > .separator > div{
    width: 100%;
    height: auto;
    border-top: 0.3rem solid #8a97fc;;
    margin-top: 10rem;
}

footer > .separator > p{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    color: #d1d3d4;
}

@media screen and (min-width: 768px){
    header{

    }
    header > .box > .name{
        display: block;
    }

    header > .box3{
        margin-top: 4rem;
    }

    main {
        margin-top: 10rem;
    }

    footer{
        height: 75vh;
    }
}

@media screen and (min-width: 992px) {
    header{
       flex-direction: column; 
    }

    header > .container{
        flex-direction: row;
        justify-content: space-around;
    }

    header > .container > .box{
       
        border-left: 4px solid yellow;
    }

   
    main > .container {
        flex-direction: row;
        justify-content: space-around;
    } 
    
    main > .blog > .grid-container > article{
        margin:0;
        height: auto;
    }  

    main > .blog > .grid-container > .article1 {
        grid-column: 1/5;
        grid-row: 1/2;
    }

    main > .blog > .grid-container > .article2{
        grid-column: 1/4;
        grid-row: 2 / span 2;
    }

    main > .blog > .grid-container > .article3{
        grid-column: 4/5;
        grid-row: 2 / span 4;
    }

    main > .blog > .grid-container > .article4{
        grid-column: 1/4;
        grid-row: 4/5;
        gap: none;
    }
}


/* terminar los ultimo retoques y formulario */