* {
    box-sizing: border-box;
}

body {
    background-color: #CBE4DE;
    color: #2C3333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 16px;
}

/* ----------------------- NAV ----------------------------- */
#navbar ul {
    list-style: none;
    padding: 0px;
}

#navbar ul li { 
    margin: 8px 8px;    
    padding: 8px 20px ;
    text-decoration: none;
    font-size: 15px;
    background-color: #2E4F4F;
    border-radius: 24px;
}

#navbar li a {
    color: #CBE4DE;
    text-decoration: none;
}
#navbar li:hover {
    color: #CBE4DE;
    background: #0E8388;
}
#navbar li:active {
    color: #CBE4DE;
    background: #0E8388;
}

/* ----------------------- MAIN ----------------------------- */
h1 {
    font-size: 2em;
    color: #0E8388;
    text-align: center;
}

h3{
    background-color: #2E4F4F;
    color: #CBE4DE;
    padding: 4px 0px;
}

#contacto a{ 
    text-decoration: none;
    color: #2E4F4F;
    display: flex;
    justify-content: center;
}

#contacto a:hover {
    font-weight: 600;
}

/* ----------------------- FOOTER ----------------------------- */
footer {
    margin: 40px auto;
    text-align: center;
}

/* ----------------- MEDIAQUERY ------------------------ */
@media screen and (min-width: 450px) {
    body {
        margin: 0px 64px;
    }
    
    h1 {
        font-size: 50px;
    }

    #navbar ul  {
        display: flex;
        justify-content: flex-end;
    }
    
} 
